{
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"es2022": true,
		"node": true,
		"worker": true
	},
	"extends": ["eslint:recommended", "next/core-web-vitals", "prettier"],
	"rules": {
		"linebreak-style": 0,
		"react/react-in-jsx-scope": "on",
		"react/prop-types": "off",
		"no-unused-vars": "on"
	}
}
